.ICEauthority
.Xauthority
.android
.bash_history
.cache
.config
.dbus
.gconf
.gitconfig
.gnome2
.lesshst
.libreoffice
.local
.mozilla
.pulse-cookie
.pulse
.recently-used.xbel
.signature
.ssh/authorized_keys
.ssh/known_hosts
.viminfo
.w3m/bufinfo
.w3m/history
.xdg_menu_cache
.xsession-errors
.*~
*~
bin/
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
