.ICEauthority
.Xauthority
.bash_history
.cache
.lesshst
.pulse-cookie
.pulse
.recently-used.xbel
.ssh/authorized_keys
.ssh/known_hosts
.viminfo
.w3m/bufinfo
.w3m/history
.xsession-errors
.*~
*~
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
